* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #047240;
  --text-color: #F4F4F9;
  --alt-text-color: #090F22;
  --line-color: #00A59B;
}

.light {
  --bg-color: #edf4f3;
  --text-color: #00C396;
  --line-color: #047240;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

/* Cabeçalho */
header {
  margin: 1rem 3.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 1.5rem;
}

header nav a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;

}

header nav a:hover {
  font-weight: 600;
}

/* Mobile */
header .slide-menu-closed {
  display: none;
}

header .slide-menu-opened {
  display: none;
}

/* Barra */
hr {
  margin: 0 3.4rem;
  border: 1px solid var(--line-color);
}
/* Switch button */
#switch button {
  background: white url('./assets/contrast-outline.svg') no-repeat center;
  width: 32px;
  height: 32px;

  margin: 18px 3.4rem;

  border: 0;
  border-radius: 50%;

  cursor: pointer;

  position: absolute;
  right: 0;

  transition: outline 0.2s;
}

#switch button:hover {
  outline: 0.5rem solid var(--line-color);
}

/* Apresentação */
#apresentation {
  margin: 4rem 4rem 0 4rem;
  font-size: 18px;
  
  max-width: 56rem;
}

#apresentation strong {
  display: block;
  margin: 0.5rem 0;
  font-weight: 600;
  font-size: 45px;
}

#apresentation span {
  font-size: 30px;
}

#apresentation p {
  font-family: 'Roboto', sans-serif;
  color: var(--alt-text-color);
  margin: 1rem 0;
}

footer {
  height: 150px;
  margin-left: 3.4rem;
  margin-top: 2rem;
  padding: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */

  position: relative;
}

footer #Techs {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

footer #men-dev {
  /* margin-right: 3.4rem; */
  right: 0;
  bottom: -22px;
  position: absolute;
  /* border: 1px solid blue; */
}

/* Media Queries */
/* até 768px de largura */
@media (max-width: 768px) {
  #switch {
    display: none;
  }

  header {
    margin: 1rem 3rem;
  }

  header nav {
    display: none;
  }

  header .slide-menu-closed div {
    display: none;
  }

  header .slide-menu-closed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    cursor: pointer;
  }

  header .slide-menu-closed span {
    display: block;
    width: 50px;
    height: 4.8px;
    background-color: var(--text-color);
    border-radius: 10px;
    
  }
  
  header .slide-menu-opened {
    display: flex;
    flex-direction: column;
  }

  header .slide-menu-opened span {
    display: block;
    width: 25px;
    height: 4.8px;
    background-color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
  }

  header .slide-menu-opened #one{
    transform: rotate(45deg) translateY(3.5px);
  }

  header .slide-menu-opened #two{
    display: none;
  }

  header .slide-menu-opened #three{
    transform: rotate(-45deg) translateY(-3.5px);
  }

  header .slide-menu-opened div {
    position: absolute;
    right: 0;
    top: 0;

    width: 180px;
    height: 280px;
    background: var(--alt-text-color);

    padding-top: 4rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  header .slide-menu-opened div a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding-left: 1rem;
  }

  header .slide-menu-opened div a:hover {
    background-color: rgb(255, 255, 255, 0.5);
  }

  header .slide-menu-opened div button {
    margin-left: 1rem;

    display: block;
    background: white url('./assets/contrast-outline.svg') no-repeat center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    border: none;
    border-radius: 50%;

    transition: outline 0.2s;
  }

  header .slide-menu-opened div button:hover {
    outline: 0.5rem solid rgb(255, 255, 255, 0.5);
  }

  hr {
    margin: 0 3rem;
  }

  #apresentation {
    margin: 2.5rem 1.4rem 2rem 3rem;
  }
  
  #apresentation * {
    margin: 10px 0;
  }

  footer {
    margin: 2.5rem 1.4rem 1rem 3rem;
    display: flex;
    position: relative;
    
  }

  footer #Techs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 2rem;
    padding-bottom: 2rem;
  }

  footer #Techs img {
    
    width: 1.7rem;
  }

  footer #men-dev {
    /* display: none; */
    position: absolute;
    max-width: 12rem;
    padding-bottom: 0.5rem;

  }
}
/* até 468px de largura */
@media (max-width: 468px) {

  footer #Techs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
}