* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-text-color: #F4F4F9;
  --header-bg-color: #7859f5;
  --bg-color: #444444;
  --bg-second-color: #171717;
  --text-color: #EDEDED;
  --alt-text-color: #090f22;
  --line-color: #7859f5;
  --shadow-color: #949494;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}


/* Cabeçalho */
header {
  padding: .6rem 3.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: var(--header-text-color);

  background: var(--header-bg-color);

}

header nav {
  display: flex;
  gap: 1.5rem;
}

header nav a {
  text-decoration: none;
  color: var(--header-text-color);
  font-size: 18px;
  font-weight: 400;

}

header nav a:hover {
  font-weight: 600;
}

header .img-logo {
  width: 8.5rem;
  height: 4rem;

  background: url('../assets/Logo.png') no-repeat center;
}

/* Mobile */
header .slide-menu-closed {
  display: none;
}

header .slide-menu-opened {
  display: none;
}

section {
  margin: 2.5rem 3.4rem 1rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.list-projects {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2.5rem;
}

li {
  position: relative;
  background: var(--line-color);
  transition: background 0.2s;
  padding: 1.2rem 1rem;
  cursor: pointer;
}

li a {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

li:hover {
  background: var(--alt-text-color);
}

li a h3 {
  font-size: 1.4rem;
  margin-bottom: .5rem;
}

li a span {
  position: absolute;
  top: .5rem;
  right: .5rem;
  font-size: .8rem;
  color: var(--alt-text-color);
}


@media (max-width: 768px) {
  #switch {
    display: none;
  }

  header {
    padding: 1rem 3rem;
  }

  header nav {
    display: none;
  }

  header .slide-menu-closed div {
    display: none;
  }

  header .slide-menu-closed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    cursor: pointer;
  }

  header .slide-menu-closed span {
    display: block;
    width: 50px;
    height: 4.8px;
    background-color: var(--header-text-color);
    border-radius: 10px;
    
  }
  
  header .slide-menu-opened {
    display: flex;
    flex-direction: column;
  }

  header .slide-menu-opened span {
    display: block;
    width: 25px;
    height: 4.8px;
    background-color: var(--header-text-color);
    border-radius: 10px;
    cursor: pointer;
  }

  header .slide-menu-opened #one{
    transform: rotate(45deg) translateY(3.5px);
  }

  header .slide-menu-opened #two{
    display: none;
  }

  header .slide-menu-opened #three{
    transform: rotate(-45deg) translateY(-3.5px);
  }

  header .slide-menu-opened div {
    position: absolute;
    right: 0;
    top: 0;

    width: 180px;
    background: var(--alt-text-color);

    padding-top: 4rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  header .slide-menu-opened div a {
    text-decoration: none;
    color: var(--header-text-color);
    display: block;
    padding-left: 1rem;
  }

  header .slide-menu-opened div a:hover {
    background-color: rgb(255, 255, 255, 0.5);
  }

  header .slide-menu-opened div button {
    margin-left: 1rem;

    display: block;
    background: white url('../assets/contrast-outline.svg') no-repeat center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    border: none;
    border-radius: 50%;

    transition: outline 0.2s;
  }

  header .slide-menu-opened div button:hover {
    outline: 0.5rem solid rgb(255, 255, 255, 0.5);
  }
}